@import 'styles/common/dark-colors.scss';

@media (prefers-color-scheme: dark) {
	#emoji-picker {
		background-color: $dark-primary;
		color: white;
	}
}

#footer {
	width: 100%;
	text-align: center;
}
