@import './EmojiPicker-dark.scss';

#emoji-picker {
	min-height: 100%;
	min-width: 100%;

	.emoji-group {
		&:nth-child(2) {
			padding-top: 0;
		}
	}

	#footer {
		position: sticky;
		top: 100%;
		width: 100%;
		text-align: center;
		padding-bottom: 0.5rem;
	}
}
