@import 'styles/common/dark-colors.scss';

.search-field {
	position: sticky;
	width: 35%;
	padding: 1rem;
	border: .125rem solid black;
	border-radius: 3rem;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;

	input {
		width: 80%;
		font-size: 1rem;
		font-family: inherit;
		border: none;

		&:focus {
			outline: none;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.search-field {
		background-color: $dark-secondary;

		input {
			background-color: inherit;
			color: inherit;

			&::placeholder {
				color: white;
				opacity: 1;
			}
		}
	}
}