@import 'styles/common/dark-colors.scss';

$height: 3rem;
$width: 3rem;
$box-shadow-vals: 0 0 0.3125rem 0.0625rem;

@mixin remove-button-styles() {
	border: none;
	background-color: transparent;
}

.emoji {
	@include remove-button-styles();
	height: $height + .75rem;
	width: $width + .75rem;
	margin: 1rem 1rem;
	padding: 0;

	&-img {
		max-height: $height;
		max-width: $width;
		vertical-align: middle;
	}

	&:hover {
		cursor: pointer;
		position: relative;
		box-shadow: $box-shadow-vals black;
	}

	&:active {
		transform: translateY(0.2rem);
	}
}

@media (prefers-color-scheme: dark) {
	.emoji:hover {
		background-color: $dark-secondary;
		box-shadow: $box-shadow-vals $dark-secondary;
	}
}
