@import 'styles/common/colors.scss';

.color-theme-switch {
	&__container { 
		display: flex;
		justify-content: flex-end;
		font-size: 2rem;

		.icon-sun {
			color: $sun;
		}
	}
}

.dark-theme {
	.color-theme-switch {
		&__container {
			.icon {
				&-moon {
					color: $moon;
				}

				&-sun {
					color: white;
				}
			}
		}
	}
}
