@import 'styles/common/dark-colors.scss';

.search-field {
	display: flex;
	align-items: center;
	width: 35%;
	padding: 1rem;
	border: .125rem solid black;
	border-radius: 3rem;
	margin: 0 auto;

	.icon-search {
		margin-right: .5rem;
	}

	input {
		flex-grow: 1;
		width: 80%;
		font-size: 1rem;
		font-family: inherit;
		border: none;

		&:focus {
			outline: none;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.search-field {
		background-color: $dark-secondary;

		input {
			background-color: inherit;
			color: inherit;

			&::placeholder {
				color: white;
				opacity: 1;
			}
		}
	}
}