@import './SearchField-dark.scss';

.search-field {
	display: flex;
	align-items: center;
	width: 35%;
	padding: 1rem;
	border: .125rem solid black;
	border-radius: 3rem;
	margin: 0 auto;

	.icon-search {
		margin-right: .5rem;
	}

	input {
		flex-grow: 1;
		width: 80%;
		font-size: 1rem;
		font-family: inherit;
		border: none;

		&:focus {
			outline: none;
		}
	}
}
