@import './common/variables.scss';
@import './Emoji-dark.scss';

$height: 2rem;
$width: 2rem;

@mixin remove-button-styles() {
	border: none;
	background-color: transparent;
}

@mixin light-theme-hover {
	box-shadow: $box-shadow-vals black;
}

.emoji {
	@include remove-button-styles();
	height: $height + 0.75rem;
	width: $width + 0.75rem;
	margin: 0.5rem 0.5rem;
	padding: 0;

	&-img {
		max-height: $height;
		max-height: $width;
		vertical-align: middle;
	}

	&:hover {
		cursor: pointer;
		position: relative;
		@include light-theme-hover;
	}

	&:active {
		transform: translateY(0.2rem);
	}
}
