@import './common/variables.scss';
@import './Emoji-dark.scss';

$height: 3rem;
$width: 3rem;

@mixin remove-button-styles() {
	border: none;
	background-color: transparent;
}

@mixin light-theme-hover {
	box-shadow: $box-shadow-vals black;
}

.emoji {
	@include remove-button-styles();
	height: $height + .75rem;
	width: $width + .75rem;
	margin: 1rem 1rem;
	padding: 0;

	&-img {
		max-height: $height;
		max-width: $width;
		vertical-align: middle;
	}

	&:hover {
		cursor: pointer;
		position: relative;
		@include light-theme-hover;
	}

	&:active {
		transform: translateY(0.2rem);
	}
}
