@import 'styles/common/dark-colors';

$toolbar-box-shadow: 0 0.3125rem 0.3125rem;

.toolbar {
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	height: 4rem;
	box-shadow: 0 0.3125rem 0.3125rem $dark-secondary;
	z-index: 999;
	background-color: white;
	padding: 0 2rem;
}



@media (prefers-color-scheme: dark) {
	.toolbar {
		background-color: $dark-primary;
		box-shadow: $toolbar-box-shadow black;
	}
}