$max-height: 3rem;
$max-width: 3rem;

.emoji {
	display: inline-block;
	height: $max-height;
	width: $max-width;
	margin: 1rem 1.5rem;
	
	&-img {
		max-height: $max-height;
		max-width: $max-width;
	}
}
