$height: 3rem;
$width: 3rem;

@mixin remove-button-styles() {
	border: none;
	background-color: transparent;
}

.emoji {
	@include remove-button-styles();
	height: $height + .75rem;
	width: $width + .75rem;
	margin: 1rem 1rem;
	padding: 0;

	&-img {
		max-height: $height;
		max-height: $width;
	}

	&:hover {
		cursor: pointer;
		position: relative;
		box-shadow: 0 0 0.3125rem 0.0625rem #000000;
	}

	&:active {
		transform: translateY(0.2rem);
	}
}
